<!doctype html>
<html lang="<%= I18n.locale.to_s.split('-').first %>">
    <head>
        <meta charset="utf-8">
        <title><%= I18n.t(:title).strip %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="<%= I18n.t(:'meta.description').strip %>">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="<%= I18n.t(:'meta.twitter.title').strip %>">
        <meta name="twitter:description" content="<%= I18n.t(:'meta.twitter.description').strip %>">
        <meta name="twitter:image" content="https://www.bitcoincash.org/img/bitcoincash-twitter.png">
        <meta property="og:title" content="<%= I18n.t(:'meta.og.title').strip %>">
        <meta property="og:description" content="<%= I18n.t(:'meta.og.description').strip %>">
        <meta property="og:image" content="https://www.bitcoincash.org/img/bitcoincash.png">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css?v=1" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17656782-2"></script>
        <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());

gtag('config', 'UA-17656782-2');
        </script>
    </head>
    <body class=" ">
        <a id="start"></a>
        <div class="nav-container">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="/">
                                <img class="logo logo-dark" alt="<%= I18n.t(:'misc.logo').strip %>" src="/img/logo-dark.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm" style="min-height: 90px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-3 hidden-xs">
                            <div class="bar__module">
                                <a href="/">
                                    <img class="logo logo-dark" alt="<%= I18n.t(:'misc.logo').strip %>" src="/img/logo-dark.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    <li>
                                        <a href="#about" class="inner-link">
                                            <%= I18n.t(:'sections.about').strip %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#features" class="inner-link">
                                            <%= I18n.t(:'sections.features').strip %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#nodes" class="inner-link">
                                            <%= I18n.t(:'sections.nodes').strip %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#wallets" class="inner-link">
                                            <%= I18n.t(:'sections.wallets').strip %>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown__trigger"><%= I18n.t(:'sections.community').strip %></span>
                                        <div class="dropdown__container">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="dropdown__content col-md-<%= I18n.t('misc.dropdown_md_width') %> col-sm-<%= I18n.t('misc.dropdown_sm_width') %>">
                                                        <ul class="menu-vertical">
                                                            <li>
                                                                <a href="#services" class="inner-link">
                                                                    <%= I18n.t(:'sections.services').strip %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#projects" class="inner-link">
                                                                    <%= I18n.t(:'sections.projects').strip %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#exchanges" class="inner-link">
                                                                    <%= I18n.t(:'sections.exchanges').strip %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#faq" class="inner-link">
                                            <%= I18n.t(:'sections.faq').strip %>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main-container">
            <section class="text-center space--xxs site-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-md-6">
                            <img alt="<%= I18n.t(:'layout.bitcoin_cash').strip %>" src="/img/bitcoincash-white.png">
                            <p class="lead">
                                <%= I18n.t(:'layout.lead').strip %>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 ticker">
                            <span id="ticker_value"><%= I18n.t(:'layout.loading').strip %></span>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <section class="space--xxs no-bottom">
                <div class="container benefits">
                    <div class="row text-center">
                        <div class="col-sm-4 col-md-4">
                            <p><i class="fa fa-bolt fa-fw fa-2x"></i></p>
                            <p><strong><%= I18n.t(:'features')[0]['title'].strip %></strong></p>
                            <p><%= I18n.t(:'features')[0]['description'].strip %></p>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <p><i class="fa fa-thumbs-up fa-fw fa-2x"></i></p>
                            <p><strong><%= I18n.t(:'features')[1]['title'].strip %></strong></p>
                            <p><%= I18n.t(:'features')[1]['description'].strip %></p>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <p><i class="fa fa-arrow-alt-down fa-fw fa-2x"></i></p>
                            <p><strong><%= I18n.t(:'features')[2]['title'].strip %></strong></p>
                            <p><%= I18n.t(:'features')[2]['description'].strip %></p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-4 col-md-4">
                            <p><i class="fa fa-check fa-fw fa-2x"></i></p>
                            <p><strong><%= I18n.t(:'features')[3]['title'].strip %></strong></p>
                            <p><%= I18n.t(:'features')[3]['description'].strip %></p>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <p><i class="fa fa-cubes fa-fw fa-2x"></i></p>
                            <p><strong><%= I18n.t(:'features')[4]['title'].strip %></strong></p>
                            <p><%= I18n.t(:'features')[4]['description'].strip %></p>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <p><i class="fa fa-lock fa-fw fa-2x"></i></p>
                            <p><strong><%= I18n.t(:'features')[5]['title'].strip %></strong></p>
                            <p><%= I18n.t(:'features')[5]['description'].strip %></p>
                        </div>
                    </div>
                </div>
            </section>
            <a id="about"></a>
            <section class="space--xxs">
                <div class="container">
                    <div class="row text-center">
                        <div class='col-sm-12'>
                            <h3 class="banner"><%= I18n.t(:'headings.about').strip %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <%= I18n.t(:'content.about').map { |c| "<p>#{c.strip}</p>" }.join("\n#{' ' * 28}") %>
                        </div>
                    </div>
                </div>
            </section>
            <a id="features"></a>
            <section class="space--xxs">
                <div class="container">
                    <div class="row text-center">
                      <div class='col-sm-12'>
                        <h3><%= I18n.t(:'headings.features').strip %></h3>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <%= I18n.t(:'content.features').map { |c| "<p>#{c.strip}#{c == I18n.t(:'content.features').last ? '<br><br>' : ''}</p>" }.join("\n#{' ' * 28}") %>
                        </div>
                    </div>
                </div>
            </section>
            <a id="nodes"></a>
            <section class="space--xxs text-center gray border-bottom">
                <div class="container nodes">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3><%= I18n.t(:'headings.nodes').strip %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 vertical-align">
                            <a href="https://www.bitcoinabc.org/" target="_blank"><img alt="Bitcoin ABC" src="/img/wallets/bitcoinabc.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-6 vertical-align">
                            <a href="https://www.bitcoinunlimited.info/download" target="_blank"><img alt="Bitcoin Unlimited" src="/img/wallets/bitcoinunlimited.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-6 vertical-align">
                            <a href="https://bitcoinxt.software/" target="_blank"><img alt="BitcoinXT" src="/img/wallets/bitcoinxt.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-6 vertical-align">
                            <a href="https://github.com/paritytech/parity-bitcoin/" target="_blank"><img alt="Parity Bitcoin" src="/img/wallets/parity.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-6 vertical-align">
                            <a href="https://www.bitprim.org/" target="_blank"><img alt="Bitprim" src="/img/wallets/bitprim.png"></a>
                        </div>
                    </div>
                </div>
            </section>
            <a id="wallets"></a>
            <section class="space--xxs text-center gray border-bottom">
                <div class="container wallets">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3><%= I18n.t(:'headings.wallets').strip %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="http://www.ledgerwallet.com/" target="_blank"><img alt="Ledger" src="/img/wallets/ledger.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://wallet.trezor.io/" target="_blank"><img alt="Trezor" src="/img/wallets/trezor.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://support.keepkey.com/support/solutions/articles/24000012739-bitcoin-cash-update-8-29-17" target="_blank"><img alt="KeepKey" src="/img/wallets/keepkey.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://electroncash.org/" target="_blank"><img alt="Electron Cash" src="/img/wallets/electroncash.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://www.unitwallet.co/" target="_blank"><img alt="Unit" src="/img/wallets/unit.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://www.bitcoin.com/choose-your-wallet/bitcoin-com-wallet" target="_blank"><img alt="Bitcoin.com" src="/img/wallets/bitcoindotcom.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.coinbase.com/" target="_blank"><img alt="Coinbase" src="/img/wallets/coinbase.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://www.exodus.io/" target="_blank"><img alt="Exodus" src="/img/wallets/exodus.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://bcc-wallet.btc.com/" target="_blank"><img alt="BCC Wallet" src="/img/wallets/btcdotcom.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://www.mobi.me/" target="_blank"><img alt="Mobi" src="/img/wallets/mobi.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://blog.bitpay.com/bitcoin-cash-wallet-beta/" target="_blank"><img alt="Copay" src="/img/wallets/copay.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://bitpay.com/wallet" target="_blank"><img alt="Bitpay Wallet" src="/img/wallets/bitpay.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://jaxx.io/" target="_blank"><img alt="Jaxx" src="/img/wallets/jaxx.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://stashcrypto.com/" target="_blank"><img alt="Stash Wallet" src="/img/wallets/stashwallet.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://strongcoin.com/" target="_blank"><img alt="StrongCoin" src="/img/wallets/strongcoin.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://www.wmtransfer.com/" target="_blank"><img alt="Web Money" src="/img/wallets/webmoney.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://coinomi.com/" target="_blank"><img alt="Coinomi" src="/img/wallets/coinomi.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://bitcoin-india.org/" target="_blank"><img alt="Bitcoin India" src="/img/wallets/bitcoinindia.png"></a>
                        </div>
                        <div class="col-sm6 col-md-3 vertical-align">
                            <a href="https://www.melis.io/" target="_blank"><img alt="Melis" src="/img/wallets/melisio.png"></a>
                        </div>
                        <div class="col-sm6 col-md-3 vertical-align">
                            <a href="https://www.coin.space" target="_blank"><img alt="Coin Space" src="/img/wallets/coinspace.png"></a>
                        </div>
                        <div class="col-sm-6 col-md-3 vertical-align">
                            <a href="https://cashaddress.org/" target="_blank"><img alt="Cash Address" src="/img/wallets/cashaddress.png"></a>
                        </div>
                        <div class="col-sm6 col-md-3 vertical-align">
                            <a href="https://walletgenerator.net/?currency=BitcoinCash" target="_blank"><img alt="WalletGenerator.net" src="/img/wallets/walletgenerator.png"></a>
                        </div>
                    </div>
                </div>
            </section>
            <a id="services"></a>
            <section class="space--xxs text-center gray border-bottom">
                <div class="container services">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3><%= I18n.t(:'headings.services').strip %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://rocketr.net/" target="_blank"><img alt="Rocketr" src="/img/services/rocketr.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.coinpayments.net/" target="_blank"><img alt="CoinPayments" src="/img/services/coinpayments.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://news.coinify.com/coinify-merchants-accept-bitcoin-cash/" target="_blank"><img alt="Coinify" src="/img/services/coinify.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://coingate.com/" target="_blank"><img alt="CoinGate" src="/img/services/coingate.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://gourl.io/" target="_blank"><img alt="GoUrl" src="/img/services/gourl.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.alfacoins.com" target="_blank"><img alt="ALFAcoins" src="/img/services/alfacoins.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://blockchair.com/" target="_blank"><img alt="Blockchair" src="/img/services/blockchair.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="http://blockdozer.com/insight/" target="_blank"><img alt="Blockdozer" src="/img/services/blockdozer.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://cash.coin.dance/" target="_blank"><img alt="Coin Dance" src="/img/services/coindance.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://coinmix.to/" target="_blank"><img alt="Coinmix" src="/img/services/coinmix.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://tippr.rocketr.net" target="_blank"><img alt="Tippr" src="/img/services/tippr.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.livingroomofsatoshi.com/?sc=bch" target="_blank"><img alt="Living Room Of Satoshi" src="/img/services/livingroomofsatoshi.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.piixpay.com/web/" target="_blank"><img alt="piixPay" src="/img/services/piixpay.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.bitcoinrewards.com" target="_blank"><img alt="BitcoinRewards" src="/img/services/bitcoinrewards.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.alfatop.me" target="_blank"><img alt="ALFAtop" src="/img/services/alfatopme.png"></a>
                        </div>
                    </div>
                </div>
            </section>
            <a id="projects"></a>
            <section class="space--xxs text-center gray border-bottom">
                <div class="container services">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3><%= I18n.t(:'headings.projects').strip %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.yours.org" target="_blank"><img alt="Yours" src="/img/projects/yours.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://learnbitcoin.cash/" target="_blank"><img alt="Learn Bitcoin Cash" src="/img/projects/learnbitcoincash.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://acceptbitcoin.cash" target="_blank"><img alt="Accept Bitcoin Cash" src="/img/projects/acceptbitcoincash.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://thebitcoincash.fund" target="_blank"><img alt="The Bitcoin Cash Fund" src="/img/projects/thebitcoincashfund.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://satoshidice.com/" target="_blank"><img alt="Satoshi Dice" src="/img/projects/satoshidice.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://github.com/dsmurrell/awesome-bitcoin-cash" target="_blank"><img alt="Awesome Bitcoin Cash" src="/img/projects/awesomebitcoincash.png"></a>
                        </div>
                         <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://pompler.com" target="_blank"><img alt="Pompler" src="/img/projects/pompler.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://cashshuffle.com" target="_blank"><img alt="CashShuffle" src="/img/projects/cashshuffle.png"></a>
                        </div>
                    </div>
                </div>
            </section>
            <a id="exchanges"></a>
            <section class="space--xxs text-center gray">
                <div class="container exchanges">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3><%= I18n.t(:'headings.exchanges').strip %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://support.bittrex.com/hc/en-us/articles/115000808991-Statement-on-Bitcoin-Cash-BCC-" target="_blank"><img alt="Bittrex" src="/img/exchanges/bittrex.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="http://blog.kraken.com/post/1150/bitcoin-cash-and-a-critical-alert-for-bitcoin-margin-traders/" target="_blank"><img alt="Kraken" src="/img/exchanges/kraken.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://cex.io/" target="_blank"><img alt="Cexio" src="/img/exchanges/cexio.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://blog.okex.com/2017/07/31/okex-to-offer-bcc-btc-trading-pair-immediately-after-bcc-launch/" target="_blank"><img alt="OKEx" src="/img/exchanges/kex.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.huobi.com/p/content/notice/getNotice?id=624" target="_blank"><img alt="Houbi" src="/img/exchanges/houbi.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="http://korbitblog.tumblr.com/post/163440038518/%EC%95%88%EB%82%B4-bitcoin-cash-bcc-user-activated-hard-fork" target="_blank"><img alt="Korbit" src="/img/exchanges/korbit.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.btcbox.co.jp/market-bcc.html" target="_blank"><img alt="BtcBox" src="/img/exchanges/btcbox.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="http://blog.coinfloor.co.uk/post/163532243506/coinfloor-to-list-bitcoin-cash-bch-in-addition" target="_blank"><img alt="Coinfloor" src="/img/exchanges/coinfloor.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://changelly.com/" target="_blank"><img alt="Changelly" src="/img/exchanges/changelly.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://blog.btcpop.co/2017/07/19/preparation-for-hard-forks/" target="_blank"><img alt="BTCPOP" src="/img/exchanges/btcpop.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.bitstarex.com/service/article.html?id=18" target="_blank"><img alt="Bitstarex" src="/img/exchanges/bitstarex.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://shapeshift.io/" target="_blank"><img alt="ShapeShift" src="/img/exchanges/shapeshift.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://blog.hitbtc.com/our-statement-on-bitcoincash-support/" target="_blank"><img alt="HitBTC" src="/img/exchanges/hitbtc.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://uphold.com/en/blog/posts/uphold/bitcoin-cash-live-on-uphold" target="_blank"><img alt="Uphold" src="/img/exchanges/uphold.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.bithumb.com/" target="_blank"><img alt="Bithumb" src="/img/exchanges/bithumb.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.alfacashier.com/" target="_blank"><img alt="ALFAcashier" src="/img/exchanges/alfacashier.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.quadrigacx.com/" target="_blank"><img alt="QuadrigaCX" src="/img/exchanges/quadrigacx.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://evercoin.com/" target="_blank"><img alt="Evercoin" src="/img/exchanges/evercoin.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://bitcoin.vn" target="_blank"><img alt="Bitcoin Vietnam" src="/img/exchanges/bitcoinvietnam.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://coinone.co.kr/" target="_blank"><img alt="Coinone" src="/img/exchanges/coinone.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://bx.in.th/THB/BCH/" target="_blank"><img alt="BX.in.th" src="/img/exchanges/bxinth.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://simplefx.com/dashboard/" target="_blank"><img alt="SimpleFX" src="/img/exchanges/simplefx.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://bitflyer.jp/" target="_blank"><img alt="bitFlyer" src="/img/exchanges/bitflyer.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://poloniex.com/" target="_blank"><img alt="Poloniex" src="/img/exchanges/poloniex.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.binance.com/" target="_blank"><img alt="Binance" src="/img/exchanges/binance.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://therocktrading.com/" target="_blank"><img alt="The Rock Trading" src="/img/exchanges/therock.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.bitcoin.de/" target="_blank"><img alt="Bitcoin.de" src="/img/exchanges/bitcoinde.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://karsha.biz/" target="_blank"><img alt="Karsha Exchange" src="/img/exchanges/karsha.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://bitbay.net/" target="_blank"><img alt="BitBay" src="/img/exchanges/bitbay.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://abucoins.com/" target="_blank"><img alt="Abucoins" src="/img/exchanges/abucoins.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://coinwale.com/" target="_blank"><img alt="Coinwale" src="/img/exchanges/coinwale.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://surbtc.com/" target="_blank"><img alt="SURBTC" src="/img/exchanges/surbtc.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.etoro.com/" target="_blank"><img alt="eToro" src="/img/exchanges/etoro.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.independentreserve.com/" target="_blank"><img alt="Independent Reserve" src="/img/exchanges/independentreserve.png"></a>
                        </div>
                         <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://changenow.io/" target="_blank"><img alt="ChangeNOW" src="/img/exchanges/changenow.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.bitstamp.net/" target="_blank"><img alt="Bitstamp" src="/img/exchanges/bitstamp.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.localbitcoincash.org/" target="_blank"><img alt="LocalBitcoinCash" src="/img/exchanges/localbitcoincash.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.gdax.com/" target="_blank"><img alt="GDAX" src="/img/exchanges/gdax.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://www.ntrust.com/" target="_blank"><img alt="nTrust" src="/img/exchanges/ntrust.png"></a>
                        </div>
                        <div class="col-sm-4 col-md-3 vertical-align">
                            <a href="https://bestrate.org/" target="_blank"><img alt="BestRate" src="/img/exchanges/bestrate.png"></a>
                        </div>
                    </div>
                </div>
            </section>
            <a id="faq"></a>
            <section class="space--xxs">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <h3><%= I18n.t(:'headings.faq').strip %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
<% I18n.t(:'content.faq').each do |qa| %><%= ' ' * 28 %><p class="question"><%= qa['question'].strip %></p>
                            <%= qa['answer'].map { |a| "<p>#{a.strip}</p>" }.join("\n#{' ' * 28}") %><%= if qa != I18n.t(:'content.faq').last; "\n"; end %><% end %>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="space--xs footer-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="type--fine-print">&copy;<span class="update-year"></span> bitcoincash.org</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://www.facebook.com/bitcoincashorg" target="_blank">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.reddit.com/r/Bitcoincash/" target="_blank">
                                        <i class="socicon socicon-reddit icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/bitcoincashorg/website" target="_blank">
                                        <i class="socicon socicon-github icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/fontawesome.js"></script>
        <script src="/js/packs/solid.js"></script>
        <script src="/js/ticker.js?v=2"></script>
    </body>
</html>
